/* body {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    width: 100vw;
    background-color: rgb(25, 33, 41);
    color: rgb(255,255,255)    
}

#form-container {
    margin: auto;
    border: 2px solid rgb(67, 163, 230);
    width: 250px;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formSection {
    display: flex;
    flex-direction: column;
}


.checkbox {
    font-style: oblique;
}

.button {
    background-color: rgb(67, 163, 230);
    border-radius: 5px;
    border:none;
    width: 25%;
    padding: 5px 5px;
    color: rgb(255,255,255);
} */

:root {
    --Dark-Blue: rgb(25, 33, 41);
    --Light-Blue: rgb(67, 163, 230);
    --Text: rgb(255,255,255);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background: var(--Dark-Blue);
    color: var(--Text);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
}

form{
    width: 250px;
    height: 400px;
    left: 50%;
    border: 3px solid var(--Light-Blue);
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, 50%);
}

fieldset{
    padding: 20px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#form-box label[for^="check"], input[type="checkbox"]{
    display: inline-block;
    font-style: italic;
    font-size: 16px;
    padding-right: 6px;
}

label, input{
    display: block;
    margin-top: 2px;
    padding: 0px 45px 5px 0px;
    max-width: 160px;
}

input[type="submit"]{
    background: var(--Light-Blue);
    font-size: 15px;
    color:inherit;
    width: auto;
    padding: 6px;
    border-radius: 12px;
    border: none;
}

#name {
    margin-right: 0px;
}

input:not(.btn), textarea{
    color:var(--Dark-Blue);
    border: 1px solid var(--Light-Blue);
    border-radius: 2px;
}